# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.idea
.svn


*.local
*.local.php
*.local.sh

node_modules

wp-tests-config.php
.vim/swaps
.netrwhist


